@page "/Productos/Nuevo"

<h3>Nuevo Producto</h3>


<EditForm Model="@user">
	<DataAnnotationsValidator />

	<div class="fore=group row">
		<label fro="Codigo" class="col-sm-2 col-form-label">
			Código
		</label>
		<div class="col-sm-10">
			<InputText id="Codigo" class="form-control" placeholder="Código" @bind-Value="user.Codigo" />
			<ValidationMessage For="@(() => user.Codigo)" />
		</div>
	</div>

	<div class="fore=group row">
		<label fro="Descripcion" class="col-sm-2 col-form-label">
			Descripcion
		</label>
		<div class="col-sm-10">
			<InputText id="Descripcion" class="form-control" placeholder="Descripcion" @bind-Value="user.Descripcion" />
			<ValidationMessage For="@(() => user.Descripcion)" />
		</div>
	</div>

	<div class="fore=group row">
		<label fro="Precio" class="col-sm-2 col-form-label">
			Precio
		</label>
		<div class="col-sm-10">
			<InputText id="Precio" class="form-control" placeholder="Precio" @bind-Value="user.Precio" />
			<ValidationMessage For="@(() => user.Precio)" />
		</div>
	</div>

	<div class="fore=group row">
		<label fro="Existencia" class="col-sm-2 col-form-label">
			Existencia
		</label>
		<div class="col-sm-10">
			<InputText id="Existencia" class="form-control" placeholder="Existencia" @bind-Value="user.Existencia" />
			<ValidationMessage For="@(() => user.Existencia)" />
		</div>
	</div>


	<div class="fore=group row">
		<p>
			<input type="submit" class="btn-toolbar btn-primary" value="Guardar" @onclick="Guardar" />
			<input type="submit" class="btn-toolbar btn-danger" value="Cancelar" @onclick="Cancelar" />
		</p>
	</div>


</EditForm>
